

<h1>Url shortener</h1>
<p>Welcome to URL SHORTENER SERVICES</p>
<br>

<h6><strong>FOR A NEW URL</strong><br>


https://url-shortener-micro-services.herokuapp.com/new <span style="color:red">URL OF YOUR CHOICE("www.google.com")</span></h6>
<br>

h6><strong>FOR OPENING THE SHORTENED URL</strong><br>
<br>

https://url-shortener-micro-services.herokuapp.com/ <span style="color:red">SHort urL</span></h6>